<div
    (click)="toggleClickState()"
    [@clickedState]="clickInfo">
</div>

<hr>

<input type="number" (input)="numberEntered = $event.target.value">
<br>
<br>
<span [@numberEnteredState]="setNumberState(1)">1</span>
<span [@numberEnteredState]="setNumberState(2)">2</span>
<span [@numberEnteredState]="setNumberState(3)">3</span>
<span [@numberEnteredState]="setNumberState(4)">4</span>
<span [@numberEnteredState]="setNumberState(5)">5</span>
<span [@numberEnteredState]="setNumberState(6)">6</span>
<span [@numberEnteredState]="setNumberState(7)">7</span>
<span [@numberEnteredState]="setNumberState(8)">8</span>
<span [@numberEnteredState]="setNumberState(9)">9</span>
<span [@numberEnteredState]="setNumberState(0)">0</span>
