<div
    (click)="toggleState()"
    [@clickedState]="clickInfo">
</div>

<hr>

<input type="number" (input)="numberEntered = $event.target.value">
<br>
<br>
<span [@numberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected'">1</span>
<span [@numberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected'">2</span>
<span [@numberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected'">3</span>
<span [@numberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected'">4</span>
<span [@numberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected'">5</span>
<span [@numberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected'">6</span>
<span [@numberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected'">7</span>
<span [@numberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected'">8</span>
<span [@numberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected'">9</span>
<span [@numberEnteredState]="numberEntered == 0 ? 'selected' : 'unselected'">0</span>

